{% extends "website/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to LabelByte!</h1>
        <p class="lead" style="text-align:center;">LabelByte provides on the go data labeling for your machine learning projects.</p>
        <hr class="my-4">
        <p style="text-align:center;">Available for iPhone.<br> Full website not accessible on mobile.</p><br><br>
    </div>
    <div class="b">
        <h3>What LabelByte does:</h3><br>
        <p>{{ text|linebreaks }}</p>
    </div><br>
    <div class="b">
        <h3>What an account has access to:</h3>
    </div>
    <table class="center">
        <tr>
            <th>monthly upload limit</th>
            <th>file upload limit</th>
            <th>requests per uploaded image</th>
            <th>access time for uploaded file</th>
        </tr>
        <tr>
            <td>75 mb</td>
            <td>20 mb</td>
            <td>10</td>
            <td>3 days</td>
        </tr>
    </table><br><br>
    <div class="b">
        <a href="https://apps.apple.com/us/app/labelbyte/id1543902659?itsct=apps_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1608076800&h=4755d9be25c6ad486f1e0a45c3e94a78" alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
    </div>
    <br><br><br><br>
{% endblock content %}