{% extends "website/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Fabel!</h1>
        <p class="lead" style="text-align:center;">Fabel provides on the go data labeling for your machine learning projects.</p>
        <hr class="my-4">
        <p style="text-align:center;">Will soon be available for iphone.</p><br><br>
    </div>
    <div class="b">
        <h3>What Fabel does:</h3><br>
        <p>{{ text|linebreaks }}</p>
    </div><br>
    <div class="b">
        <h3>What an account has access to:</h3>
    </div>
    <table class="center">
        <tr>
            <th>monthly upload limit</th>
            <th>file upload limit</th>
            <th>requests per uploaded image</th>
            <th>access time for uploaded file</th>
        </tr>
        <tr>
            <td>75 mb</td>
            <td>20 mb</td>
            <td>10</td>
            <td>3 days</td>
        </tr>
    </table><br>
    <br><br><br><br>
{% endblock content %}