{% extends "website/base.html" %}
{% block content %}
    <h1>Instructions:</h1>
    <br><br>
    <ol>
        <li>Create an account and login</li><br>
        <li>Compress folder of unlabeled images into a zip file</li><br>
        <li>Click label tab and upload zip file <br>(label tab cannot be accessed on mobile web)</li><br>
        <li>Download the app and login with the same account</li><br>
        <li>Click on zip name and image name of image you would like to label</li><br>
        <li>Instructions in top right corner has information on how to label</li><br>
        <li>After you finish labeling an image press save</li><br>
        <li>Go back to label tab on website and click download. <br> Saved labels will be listed in a text file.</li>
    </ol>
    <br><br><br><br><br>
{% endblock content %}