{% extends "website/base.html" %}
{% block content %}
    <div class="b">
        <p>{{ error }}</p>
    </div>
    <div class="change-password-container">
        <div class="change-password">
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="inputWrapper">
                    <label for="old-password">Old Password</label>
                    <input type="password" name="oldPassword"/>
                </div>
                <div class="inputWrapper">
                    <label for="new-password">New Password</label>
                    <input type="password" name="newPassword"/>
                </div>
                <div class="inputWrapper">
                    <label for="retype-new-password">Retype New Password</label>
                    <input type="password" name="newPasswordRetyped"/>
                </div><br>
                <button type="submit" name="change-password">Change Password</button>
            </form>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}